.container {
  padding-top: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.logo {
  width: 200px;
  height: 200px;
  border: 1px solid;
  background-image: url("../assets/logo.png");
  background-size: cover;
  /* background-repeat: no-repeat; */
  margin: 0 auto;
}